body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Optional background color */
}
.gallery {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
}

.gallery img {
    width: 300px;
    height: auto;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
  }